@font-face {
  font-family: SegoePrint;
  src: url(Segoe\ Print\ Bold.ttf);
}
@font-face {
  font-family: GeorgiaBold;
  src: url(Segoe\ Print\ Bold.ttf);
}

.page {
    width: 70%;
    margin: 0 auto;
    text-align: center; 
    padding: 20px;
    border-radius: 10px;
}

._red {
    color: red
}
._black {
    color: black
}
._white {
    color: white
}

h1,h2,h3 {
    font-family: SegoePrint;
}

p {
    font-family: Georgia;
}